@{
<<<<<<< HEAD
    ViewData["Title"] = "Spark Home Page";
=======
    ViewData["Title"] = "Spark app";
>>>>>>> Fix: name changed with rebase
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>